<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />

		<!--theme-color-->
		<meta name="theme-color" content="<%= builder.header.color %>" />

		<!--icon-->
		<link rel="shortcut icon" href="<%= builder.header.icon %>" />

		<!--title-->
		<title><%= builder.header.title%> | Admin</title>

		<!--css-->
		<style type="text/css" media="screen">
			:root {
				--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
				--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
				--primary-color: <%= builder.header.color %>;
				--regular-green: rgb(93, 212, 104);
				--dark-green: rgb(76, 172, 85);
				--light-gray: rgb(236, 236, 236);
				--regular-gray: rgb(59, 59, 59);
				--dark-gray: rgb(20, 20, 20);
			}
		</style>
		<link rel="stylesheet" href="/admin-get-page/styles/index/index.css" />
		<link rel="stylesheet" href="/admin-get-page/styles/warning/warning.css" />
		<link rel="stylesheet" href="/admin-get-page/styles/aside/aside.css" />
		<link rel="stylesheet" href="/admin-get-page/styles/header/header.css" />
		<link rel="stylesheet" href="/admin-get-page/styles/main/main.css" />

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!--jquery-->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<!--scripts-->
		<script defer type="module" src="/admin-get-page/scripts/index.js"></script>
		<script
			defer
			type="module"
			src="/admin-get-page/scripts/header.js"
		></script>
		<script
			defer
			type="module"
			src="/admin-get-page/scripts/builder.js"
		></script>
	</head>
	<body>
		<!--warning-->
		<div warning class="warning-container">
			<div>
				<h2>
					<i class="fa-sharp fa-solid fa-circle-exclamation"></i>
					Multi-Window
				</h2>
				<p>
					Admin page is open in another window. Click "Use Here" to use Admin
					page in this window.
				</p>
				<div>
					<button>USE HERE</button>
				</div>
			</div>
		</div>

		<!--aside-menu-->
		<aside settings-aside-menu>
			<button close-settings-aside-menu-button></button>
			<div>
				<div>
					<div>
						<img
							logo
							draggable="false"
							src="<%= builder.header.logo %>"
							alt="<%= builder.header.title %> Logo"
						/>
						<div>
							<p>Settings</p>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</aside>

		<!--header-->
		<header>
			<div>
				<!--logo-->
				<a href="/">
					<img
						logo
						draggable="false"
						src="<%= builder.header.logo %>"
						alt="<%= builder.header.title %> Logo"
					/>
				</a>

				<!--aside-menu-button-->
				<div>
					<button open-settings-aside-menu-button>
						<i class="fa-solid fa-gear"></i>
					</button>
					<a href="/admin/logout">
						<i class="fa-solid fa-right-from-bracket"></i>
					</a>
				</div>
			</div>
		</header>

		<!--main-->
		<main>
			<!--header-section-->
			<div class="table-section-container">
				<!--table-title-->
				<div>
					<h1>
						<i class="fa-solid fa-helmet-safety"></i>
						Header
					</h1>
				</div>

				<!--table-->
				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Icon</th>
								<th>Logo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!--icon-->
								<td>
									<div
										cell-container
										class="cell-container"
										action="/admin/api/header/icon"
										identifier="only"
										for="icon"
									>
										<div
											file-input-container
											class="cell-container__input-container cell-container__file-input-container"
										>
											<label for="icon">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="icon" type="file" accept="image/*" />
											<a href="<%= builder.header.icon %>" target="_blank"
												>Icon</a
											>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i
												class="cell-container__cell-info-container__loading"
											></i>
											<i
												cell-info-error
												class="fa-sharp fa-solid fa-circle-exclamation"
											></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--logo-->
								<td>
									<div
										cell-container
										class="cell-container"
										action="/admin/api/header/logo"
										identifier="only"
										for="logo"
									>
										<div
											file-input-container
											class="cell-container__input-container cell-container__file-input-container"
										>
											<label for="logo">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="logo" type="file" accept="image/*" />
											<a href="<%= builder.header.logo %>" target="_blank"
												>Logo</a
											>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i
												class="cell-container__cell-info-container__loading"
											></i>
											<i
												cell-info-error
												class="fa-sharp fa-solid fa-circle-exclamation"
											></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Color</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!--title-->
								<td>
									<div
										cell-container
										class="cell-container"
										action="/admin/api/header/title"
										identifier="only"
										for="title"
									>
										<div
											class="cell-container__input-container cell-container__text-input-container"
										>
											<div
												pseudo-input
												contenteditable="true"
												placeholder="Title"
												maxlength="30"
											>
												<%= builder.header.title %>
											</div>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i
												class="cell-container__cell-info-container__loading"
											></i>
											<i
												cell-info-error
												class="fa-sharp fa-solid fa-circle-exclamation"
											></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--color-->
								<td>
									<div
										cell-container
										class="cell-container"
										action="/admin/api/header/color"
										identifier="only"
										for="color"
									>
										<div
											class="cell-container__input-container cell-container__color-input-container"
										>
											<input type="color" value="<%= builder.header.color %>" />
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i
												class="cell-container__cell-info-container__loading"
											></i>
											<i
												cell-info-error
												class="fa-sharp fa-solid fa-circle-exclamation"
											></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!--description-->
								<td>
									<div
										cell-container
										class="cell-container"
										action="/admin/api/header/description"
										identifier="only"
										for="description"
									>
										<div
											class="cell-container__input-container cell-container__text-area-container"
										>
											<textarea maxlength="255" placeholder="Description">
<%= builder.header.description %></textarea
											>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i
												class="cell-container__cell-info-container__loading"
											></i>
											<i
												cell-info-error
												class="fa-sharp fa-solid fa-circle-exclamation"
											></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--propagandas-->
			<div special-section class="table-section-container">
				<!--table-title-->
				<div>
					<h1>
						<i class="fa-solid fa-thumbtack"></i>
						Propagandas
					</h1>
				</div>

				<!--table-->
				<div table-container class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Big Image</th>
								<th>Small Image</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<template propagandas-template>
								<tr table-row>
									<!--big-image-->
									<td class="--sortable-item">
										<div cell-container class="cell-container">
											<div
												file-input-container
												class="cell-container__input-container cell-container__file-input-container"
											>
												<label>
													<i class="fa-solid fa-image"></i>
												</label>
												<input type="file" accept="image/*" />
												<a target="_blank">Big Image</a>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--small-image-->
									<td class="--sortable-item">
										<div cell-container class="cell-container">
											<div
												file-input-container
												class="cell-container__input-container cell-container__file-input-container"
											>
												<label>
													<i class="fa-solid fa-image"></i>
												</label>
												<input type="file" accept="image/*" />
												<a target="_blank">Small Image</a>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--actions-->
									<td action-container class="action-container">
										<div>
											<div>
												<button draggable>
													<i class="fa-solid fa-sort"></i>
												</button>
												<button>
													<i class="fa-sharp fa-solid fa-paper-plane"></i>
												</button>
												<button>
													<i class="fa-solid fa-trash"></i>
												</button>
												<div
													action-info
													class="action-container__action-info-container"
												>
													<i
														class="action-container__cell-info-container__loading"
													></i>
													<i
														action-info-error
														class="fa-sharp fa-solid fa-circle-exclamation"
													></i>
													<i class="fa-solid fa-circle-check"></i>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>

				<!--add-button-->
				<div>
					<button add-item-to-table-button>
						<i class="fa-solid fa-thumbtack"></i>
						Add Propaganda
					</button>
				</div>
			</div>

			<!--categories-section-->
			<div special-section class="table-section-container">
				<!--table-title-->
				<div>
					<h1>
						<i class="fa-solid fa-box"></i>
						Categories
					</h1>
				</div>

				<!--table-->
				<div table-container class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Category Name</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<template categories-template>
								<tr table-row>
									<!--category-->
									<td class="--sortable-item">
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													pseudo-input
													contenteditable="true"
													placeholder="Category Name"
													maxlength="30"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--Actions-->
									<td action-container class="action-container">
										<div>
											<div>
												<button draggable>
													<i class="fa-solid fa-sort"></i>
												</button>
												<button>
													<i class="fa-sharp fa-solid fa-paper-plane"></i>
												</button>
												<button>
													<i class="fa-solid fa-trash"></i>
												</button>
												<div
													action-info
													class="action-container__action-info-container"
												>
													<i
														class="action-container__cell-info-container__loading"
													></i>
													<i
														action-info-error
														class="fa-sharp fa-solid fa-circle-exclamation"
													></i>
													<i class="fa-solid fa-circle-check"></i>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>

				<!--add-button-->
				<div>
					<button add-item-to-table-button>
						<i class="fa-solid fa-box"></i>
						Add Category
					</button>
				</div>
			</div>

			<!--products-->
			<div special-section class="table-section-container">
				<!--table-title-->
				<div>
					<h1>
						<i class="fa-solid fa-pen"></i>
						Products
					</h1>
				</div>

				<!--table-->
				<div table-container class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>Image</th>
								<th class="--hidden">Category</th>
								<th>Name</th>
								<th>Price</th>
								<th>Off</th>
								<th class="--hidden">Installment</th>
								<th class="--hidden">Whatsapp</th>
								<th class="--hidden">Message</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<template products-template>
								<tr table-row>
									<!--image-->
									<td>
										<div cell-container class="cell-container">
											<div
												file-input-container
												class="cell-container__input-container cell-container__file-input-container"
											>
												<label>
													<i class="fa-solid fa-image"></i>
												</label>
												<input product-image type="file" accept="image/*" />
												<a target="_blank">Image</a>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--category-->
									<td class="--hidden">
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__select-container"
											>
												<select product-category product-categories-select>
													<template>
														<option></option>
													</template>
												</select>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--name-->
									<td>
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-name
													pseudo-input
													contenteditable="true"
													placeholder="Name"
													maxlength="30"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--price-->
									<td>
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-price
													pseudo-input
													contenteditable="true"
													placeholder="Price"
													maxlength="25"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--off-->
									<td>
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-off
													pseudo-input
													contenteditable="true"
													placeholder="Off"
													maxlength="30"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--installment-->
									<td class="--hidden">
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-installment
													pseudo-input
													contenteditable="true"
													placeholder="Installment"
													maxlength="30"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--whatsapp-->
									<td class="--hidden">
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-whatsapp
													pseudo-input
													contenteditable="true"
													placeholder="Whatsapp"
													maxlength="20"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--message-->
									<td class="--hidden">
										<div cell-container class="cell-container">
											<div
												class="cell-container__input-container cell-container__text-input-container"
											>
												<div
													product-message
													pseudo-input
													contenteditable="true"
													placeholder="Message"
													maxlength="255"
												></div>
											</div>
											<div
												cell-info
												class="cell-container__cell-info-container"
											>
												<i
													class="cell-container__cell-info-container__loading"
												></i>
												<i
													cell-info-error
													class="fa-sharp fa-solid fa-circle-exclamation"
												></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--actions-->
									<td action-container class="action-container">
										<div>
											<div>
												<button draggable>
													<i class="fa-solid fa-sort"></i>
												</button>
												<button>
													<i class="fa-sharp fa-solid fa-paper-plane"></i>
												</button>
												<button>
													<i class="fa-solid fa-trash"></i>
												</button>
												<div
													action-info
													class="action-container__action-info-container"
												>
													<i
														class="action-container__cell-info-container__loading"
													></i>
													<i
														action-info-error
														class="fa-sharp fa-solid fa-circle-exclamation"
													></i>
													<i class="fa-solid fa-circle-check"></i>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>

				<!--add-button-->
				<div>
					<button add-item-to-table-button>
						<i class="fa-solid fa-pen"></i>
						Add Product
					</button>
				</div>
			</div>
		</main>
	</body>
</html>
