<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<!--theme-color-->
		<meta name="theme-color" content="<%= builder.header.color %>" />

		<!--icon-->
		<link rel="shortcut icon" href="<%= builder.header.icon %>" />

		<!--title & description-->
		<title><%= builder.header.title%> | Not Found</title>
		<meta name="description" content="<%= builder.header.description%>" />

		<!--css-->
		<style type="text/css" media="screen">
			:root {
				--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
				--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
				--primary-color: <%= builder.header.color %>;
				--regular-green: rgb(93, 212, 104);
				--dark-green: rgb(76, 172, 85);
				--light-gray: rgb(236, 236, 236);
				--regular-gray: rgb(59, 59, 59);
				--dark-gray: rgb(20, 20, 20);
			}
		</style>
		<link rel="stylesheet" href="/404-get-page/styles/index/index.css" />
		<link rel="stylesheet" href="/404-get-page/styles/header/header.css" />
		<link rel="stylesheet" href="/404-get-page/styles/main/main.css" />

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<!--header-->
		<header>
			<div>
				<a href="/">
					<img
						draggable="false"
						src="<%= builder.header.logo %>"
						alt="<%= builder.header.title %> Logo"
					/>
				</a>
			</div>
		</header>

		<!--main-->
		<main>
			<div>
				<h1>
					<i class="fa-solid fa-bug"></i>
					404
				</h1>
				<h2>Page not found</h2>
				<p>
					We sincerely apologize for the inconvenience caused. 
					It seems that the page you are looking for cannot 
					be found. Please go back to the homepage or contact 
					us.
				</p>
				<a href="/">Homepage</a>
			</div>
		</main>
	</body>
</html>
