<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="robots" content="noindex">

		<!--theme-color-->
		<meta name="theme-color" content="<%= builder.header.color %>" />

		<!--icon-->
		<link rel="shortcut icon" href="<%= builder.header.icon %>" />

		<!--title & description-->
		<title><%= builder.header.title%> | Admin</title>

		<!--css-->
		<style type="text/css" media="screen">
			:root {
				--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
				--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
				--primary-color: <%= builder.header.color %>;
				--regular-green: rgb(93, 212, 104);
				--dark-green: rgb(76, 172, 85);
				--light-gray: rgb(236, 236, 236);
				--regular-gray: rgb(59, 59, 59);
				--dark-gray: rgb(20, 20, 20);
			}
		</style>
		<link rel="stylesheet" href="/admin-post-page/styles/index/index.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/warning/warning.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/aside/aside.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/header/header.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/main/main.css" />

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!--jquery-->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

		<!--scripts-->
		<script defer type="module" src="/admin-post-page/scripts/index.js"></script>
	</head>
	<body>

		<!--warning-->
		<div warning class="warning-container">
			<div>
				<h2>
					<i class="fa-sharp fa-solid fa-circle-exclamation"></i>
					Multi-Window
				</h2>
				<p>
					Admin page is open in another window. Click "Use Here" to use Admin page in this window.
				</p>
				<div>
					<button>USE HERE</button>
				</div>
			</div>
		</div>

		<!--aside-menu-->
		<aside settings-aside-menu>
			<button close-settings-aside-menu-button></button>
			<div>
				<div>
					<div>
						<img
							logo
							draggable="false"
							src="<%= builder.header.logo %>"
							alt="<%= builder.header.title %> Logo"
						/>
						<div>
							<p>Settings</p>
						</div>
					</div>
				</div>
				<div></div>
			</div>
		</aside>

		<!--header-->
		<header>
			<div>

				<!--logo-->
				<a href="/">
					<img
			 			logo
						draggable="false"
						src="<%= builder.header.logo %>"
						alt="<%= builder.header.title %> Logo"
					/>
				</a>

				<!--aside-menu-button-->
				<div>
					<button open-settings-aside-menu-button>
						<i class="fa-solid fa-gear"></i>
					</button>
					<a href="/admin/logout">
						<i class="fa-solid fa-right-from-bracket"></i>
					</a>
				</div>
			</div>
		</header>

		<!--main-->
		<main>

			<!--Header-->
			<div class="table-section-container">

				<div>
					<h1>
						<i class="fa-solid fa-helmet-safety"></i>
						Header
					</h1>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Icon
								</th>
								<th>
									Logo
								</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<!--icon-->
								<td>
									<div cell-container class="cell-container" action="/admin/api/header/icon" identifier="only" for="icon"> 
										<div file-input-container class="cell-container__input-container cell-container__file-input-container">
											<label for="icon">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="icon" type="file" accept="image/*" />
											<a href="<%= builder.header.icon %>" target="_blank">Icon</a>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i class="cell-container__cell-info-container__loading"></i>
											<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--logo-->
								<td>
									<div cell-container class="cell-container" action="/admin/api/header/logo" identifier="only" for="logo">
										<div file-input-container class="cell-container__input-container cell-container__file-input-container">
											<label for="logo">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="logo" type="file" accept="image/*" />
											<a href="<%= builder.header.logo %>" target="_blank">Logo</a>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i class="cell-container__cell-info-container__loading"></i>
											<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									Color
								</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<!--Title-->
								<td>
									<div cell-container class="cell-container" action="/admin/api/header/title" identifier="only" for="title"> 
										<div class="cell-container__input-container cell-container__text-input-container">
											<div pseudo-input contenteditable="true" placeholder="Title" maxlength="30">
												<%= builder.header.title %>
											</div>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i class="cell-container__cell-info-container__loading"></i>
											<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--Color-->
								<td>
									<div cell-container class="cell-container" action="/admin/api/header/color" identifier="only" for="color">
										<div class="cell-container__input-container cell-container__color-input-container">
											<input type="color" value="<%= builder.header.color %>"/>
										</div>									
										<div cell-info class="cell-container__cell-info-container">
											<i class="cell-container__cell-info-container__loading"></i>
											<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Description
								</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<!--Description-->
								<td>
									<div cell-container class="cell-container" action="/admin/api/header/description" identifier="only" for="description"> 
										<div class="cell-container__input-container cell-container__text-area-container">
											<textarea maxlength="255"><%= builder.header.description %></textarea>
										</div>
										<div cell-info class="cell-container__cell-info-container">
											<i class="cell-container__cell-info-container__loading"></i>
											<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--Propagandas-->
			<div special-section class="table-section-container">

				<div>
					<h1>
						<i class="fa-solid fa-thumbtack"></i>
						Propagandas
					</h1>
				</div>

				<div table-container class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Big Image
								</th>
								<th>
									Small Image
								</th>
								<th>
									Actions
								</th>
							</tr>
						</thead>
						<tbody>

							<template propaganda-template>
								<tr table-row>

									<!--Big-Image-->
									<td class="--sortable-item">
										<div cell-container class="cell-container"> 
											<div file-input-container class="cell-container__input-container cell-container__file-input-container">
												<label>
													<i class="fa-solid fa-image"></i>
												</label>
												<input type="file" accept="image/*" />
												<a target="_blank">Big Image</a>
											</div>
											<div cell-info class="cell-container__cell-info-container">
												<i class="cell-container__cell-info-container__loading"></i>
												<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--Small-Image-->
									<td class="--sortable-item">
										<div cell-container class="cell-container"> 
											<div file-input-container class="cell-container__input-container cell-container__file-input-container">
												<label>
													<i class="fa-solid fa-image"></i>
												</label>
												<input type="file" accept="image/*" />
												<a target="_blank">Small Image</a>
											</div>
											<div cell-info class="cell-container__cell-info-container">
												<i class="cell-container__cell-info-container__loading"></i>
												<i cell-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
												<i class="fa-solid fa-circle-check"></i>
											</div>
										</div>
									</td>

									<!--Actions-->
									<td action-container class="action-container">
										<div>
											<div>
												<button>
													<i class="fa-sharp fa-solid fa-paper-plane"></i>
												</button>
												<button>
													<i class="fa-solid fa-trash"></i>
												</button>
												<div action-info class="action-container__action-info-container">
													<i class="action-container__cell-info-container__loading"></i>
													<i action-info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
													<i class="fa-solid fa-circle-check"></i>											
												</div>
											</div>
										</div>
									</td>
								</tr>
							</template>
						</tbody>
					</table>
				</div>

				<div>
					<button add-item-to-table-button>
						<i class="fa-solid fa-thumbtack"></i>
						Add Propaganda
					</button>
				</div>
			</div>

		</main>
	</body>
</html>
