<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="robots" content="noindex">

		<!--theme-color-->
		<meta name="theme-color" content="<%= builder.header.color %>" />

		<!--icon-->
		<link rel="shortcut icon" href="<%= builder.header.icon %>" />

		<!--title & description-->
		<title><%= builder.header.title%> | Admin</title>

		<!--css-->
		<style type="text/css" media="screen">
			:root {
				--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
				--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
				--primary-color: <%= builder.header.color %>;
				--regular-green: rgb(93, 212, 104);
				--dark-green: rgb(76, 172, 85);
				--light-gray: rgb(236, 236, 236);
				--regular-gray: rgb(59, 59, 59);
				--dark-gray: rgb(20, 20, 20);
			}
		</style>
		<link rel="stylesheet" href="/admin-post-page/styles/index/index.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/aside/aside.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/header/header.css" />
		<link rel="stylesheet" href="/admin-post-page/styles/main/main.css" />

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<!--scripts-->
		<script defer type="module" src="/admin-post-page/scripts/index.js"></script>
	</head>
	<body>

		<!--aside-menu-->
		<aside settings-aside-menu>
			<button close-settings-aside-menu-button></button>
			<div>
				<div>
					<div>
						<img
							logo
							draggable="false"
							src="<%= builder.header.logo %>"
							alt="<%= builder.header.title %> Logo"
						/>
						<div>
							<p>Settings</p>
						</div>
					</div>
				</div>
				<div>
					<!--content-->
				</div>
			</div>
		</aside>

		<!--header-->
		<header>
			<div>

				<!--logo-->
				<a href="/">
					<img
			 			logo
						draggable="false"
						src="<%= builder.header.logo %>"
						alt="<%= builder.header.title %> Logo"
					/>
				</a>

				<!--aside-menu-button-->
				<div>
					<button open-settings-aside-menu-button>
						<i class="fa-solid fa-gear"></i>
					</button>
				</div>
			</div>
		</header>

		<!--main-->
		<main>

			<!--overview-->
			<div class="table-section-container">

				<!--title-->
				<div>
					<h1>
						<i class="fa-solid fa-helmet-safety"></i>
						Header
					</h1>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Icon
								</th>
								<th>
									Logo
								</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<!--icon-->
								<td>
									<div cell class="cell" action="/admin/api/header/icon" method="PUT" identifier="only" for="icon"> 
										<div file-input-container class="cell__input-container cell__file-input-container">
											<label for="icon">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="icon" type="file" accept="image/*" />
											<a target="_blank">Icon</a>
										</div>
										<div info class="cell__info-container">
											<i class="cell__info-container__loading"></i>
											<i info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--logo-->
								<td>
									<div cell class="cell" action="/admin/api/header/logo" method="PUT" identifier="only" for="logo">
										<div file-input-container class="cell__input-container cell__file-input-container">
											<label for="logo">
												<i class="fa-solid fa-image"></i>
											</label>
											<input id="logo" type="file" accept="image/*" />
											<a target="_blank">Logo</a>
										</div>
										<div info class="cell__info-container">
											<i class="cell__info-container__loading"></i>
											<i info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="table-section-container__table-container">
					<table>
						<thead>
							<tr>
								<th>
									Title
								</th>
								<th>
									Color
								</th>
							</tr>
						</thead>
						<tbody>

							<tr>

								<!--Title-->
								<td>
									<div cell class="cell" action="/admin/api/header/icon" method="PUT" identifier="only" for="title"> 
										<div class="cell__input-container cell__text-input-container">
											<input type="text" placeholder="Title" maxlength="20"/>
										</div>
										<div info class="cell__info-container">
											<i class="cell__info-container__loading"></i>
											<i info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>

								<!--Color-->
								<td>
									<div cell class="cell" action="/admin/api/header/logo" method="PUT" identifier="only" for="color">
										<div class="cell__input-container cell__color-input-container">
											<input type="color"/>
										</div>									
										<div info class="cell__info-container">
											<i class="cell__info-container__loading"></i>
											<i info-error class="fa-sharp fa-solid fa-circle-exclamation"></i>
											<i class="fa-solid fa-circle-check"></i>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</main>
	</body>
</html>
