<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex" />

		<!--theme-color-->
		<meta name="theme-color" content="<%= builder.header.color %>" />

		<!--icon-->
		<link rel="shortcut icon" href="<%= builder.header.icon %>" />

		<!--title-->
		<title><%= builder.header.title%> | <%= message %></title>

		<!--css-->
		<style type="text/css" media="screen">
			:root {
				--font-regular: poppins-regular, Arial, Helvetica, sans-serif;
				--font-bold: poppins-bold, Arial, Helvetica, sans-serif;
				--primary-color: <%= builder.header.color %>;
				--regular-green: rgb(93, 212, 104);
				--dark-green: rgb(76, 172, 85);
				--light-gray: rgb(236, 236, 236);
				--regular-gray: rgb(59, 59, 59);
				--dark-gray: rgb(20, 20, 20);
			}
		</style>
		<link rel="stylesheet" href="/error-page/styles/index/index.css" />
		<link rel="stylesheet" href="/error-page/styles/header/header.css" />
		<link rel="stylesheet" href="/error-page/styles/main/main.css" />

		<!--font-awesome-->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
			integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
	</head>
	<body>
		<header>
			<div>
				<a href="/">
					<img
						draggable="false"
						src="<%= builder.header.logo %>"
						alt="<%= builder.header.title %> Logo"
					/>
				</a>
			</div>
		</header>
		<main>
			<div>
				<h1>
					<i class="fa-solid fa-bug"></i>
					<%= status %>
				</h1>
				<h2><%= message %></h2>
				<p><%= text %></p>
				<% if (homePage) { %>
				<a href="/">Homepage</a>
				<% } %>
			</div>
		</main>
	</body>
</html>
